.main-header {
    background-color: black;
    height: 80px;
    box-shadow: 10px 5px 20px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between; /* Ensures even spacing between items */
    align-items: center;
    padding: 10px;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in width */
}

.main-header p {
    font-weight: bold;
    color: blueviolet;
    font-size: larger;
    margin: 0 15px;
}

.searchBox {
    flex-grow: 2 ; /* Allow search box to take as much space as possible */
    margin: 0 10px; /* Add margin for spacing */
}

.searchBox .inputinput {
    width: 100%; /* Set width relative to searchBox */
    padding: 0 10px;
    height: 40px;
    border-radius: 5px;
}

.menue-items {
    display: flex;
    flex-shrink: 0; /* Prevent the menu items from shrinking */
}

.menue-open {
    display: none;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .menue-open {
        display: flex;
    }

    /* . */

    .menue-items {
        display: none; /* Hide menu items */
    }
}
